.description {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0px 0px 10px;
    grid-gap: 30px;
}

.description-text {
	width: 100%;
    padding-top: 6%;
	padding-left: calc(100% - 1170px / 2);
	
	h5 {
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		font-family: 'Gotham Pro', sans-serif;
	}
	p {
		margin-top: 60px;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		font-family: 'Gotham Pro', sans-serif;	
	}
}

.description img {	
	object-fit: cover;
	width: 100%;
	// height: inherit;
	justify-self: end;
}

//  description-image {
//  	background-size: 125%, 100%;
// 	}
@media (max-width: 1000px) {
	.description {
		display: unset;
	}
	.description-image {
		float: right;
		width: 200px;
		height: 100px;
		// display: block;
	}
	
	.description-text {
		// width: 200px;
		// display: inline-block;
		float: left;
	}
	body {
		// background-color: green;
	}
}
