.start-page {
	background: url("../img/welcome-bg.png");
	background-size: cover;
	background-position: center bottom;
	height: 1008px;
	width: 100%;
	z-index: -10;
}

.start-page .container{	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 145px;
}


.start-page-text {
	color: #fff;
	text-align: left;
	z-index: 2;
	position: relative;
	h3:nth-child(1){
		font-weight: 900;
		font-style: normal;
		font-size: 24px;
		transform: scaleX(0.88);
   		transform-origin: left;
	}
	h3:nth-child(2){
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		line-height: 40px;
		transform: scaleX(0.88);
    	transform-origin: left;
	}
	h1 {
		font-weight: 900;
		font-style: normal;
		font-size: 100px;
		line-height: 110px;
		text-align: left;
		transform: scaleX(0.88);
    	transform-origin: left;
	}
	p {
	    position: absolute;
	  	top: 19%;
	  	font-weight: bold;
		font-style: normal;
		font-size: 200px;
		color: #fff;
		transform: scaleX(0.88);
	    transform-origin: left;
		opacity: 0.1;
		z-index: -5;
	}
	h2 {
		font-weight: bold;
		font-style: normal;
		font-size: 72px;
		line-height: 95px;
	}
	h4 {
		padding-top: 40px;
		
		font-weight: normal;
		font-style: normal;
		font-size: 18px;
		width: 60%;
	}
}

$shadow-width: 6px;
.reg-button {
	color: #fff;
	font-family: 'Ubuntu', 'Gothem Pro', sans-serif;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	
	margin: 45px 0 0 $shadow-width;
	padding: 20px 60px;
	background-color: #a9da20;
	border-radius: 50px;
	border: none;
	box-shadow: 0px 0px 0px $shadow-width rgba(169, 218,  32, 0.5);
	
	&:hover {
		color: #fbfcf7;
		background-color: #87ab24;
		box-shadow: 0px 0px 0px $shadow-width rgba(135, 171,  36, 0.5);
		transition: all 0.2s ease-out 0s;
	}
	&:active {
		background: linear-gradient(-10deg, #a9da20, #77961f);
		border: none;
	}
	&:focus {
		outline: none;
	}
}

.inkblot-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 690px;
	height: 700px;
    margin-top: -60px;
}

.inkblot {
	position: relative;
	height: 190px;
	
	img {
		object-fit: cover;
		width: inherit;
		height: inherit;
	}

	p {
		color: #fff;
		font-family: 'Gotham Pro', sans-serif;
		font-weight: bold;
		font-style: normal;
		font-size: 24px;
		position: absolute;
		text-align: center;
		line-height: 45px;

		top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    position: absolute;

		span {
			font-family: 'Roboto', sans-serif;;
			font-weight: bold;
			font-style: normal;
			font-size: 80px;
		}
	}
}

@media (max-width: 1024px) {
	.start-page {
		height: 885px;
	}

	.start-page-text {
		h3:nth-child(1){
			font-size: 20px;
		}
		h3:nth-child(2){
			font-size: 18px;
		}
		h1{
			font-size: 76px;
		}
		p{
			font-size: 140px;
		}
		h2 {
			font-size: 60px;
		}
		h3 {
			font-size: 46px;
		}
		h4 {
			font-size: 1rem;
		}
	}

	.reg-button {
		font-size: 20px;
		padding: 16px 45px;
	}
	
	.inkblot-column {
		height: 560px;
		margin-top: -40px;
	}
	
	.inkblot {
		height: 160px;
		p {
			font-size: 20px;
			line-height: 35px;
			span {
				font-size: 60px;
			}
		}
	}
}

@media (max-width: 768px) {
	.start-page {
	    height: 710px;
	}

	.start-page .container {
	    padding-top: 95px;
	    // flex-wrap: wrap;
	}
	
	.start-page-text {
		h3:nth-child(1){
			font-size: 18px; 
		}
		h3:nth-child(2){
			font-size: 16px;
		}
		h1{
			font-size: 60px;
			line-height: 65px;
		}
		p{
			font-size: 90px;
		}
		h2 {
			font-size: 50px;
		}
		h3 {
			font-size: 40px;
		}
		h4 {
			font-size: 1rem;
			padding-top: 20px;

			width: 80%;
		}
	}

	.reg-button {
		font-size: 20px;
		padding: 16px 45px;
	}
	
	.inkblot-column {
	    height: 530px;
	    margin-top: -40px;
        height: 462px;
	    margin-top: -30px;
	}
	.inkblot {
		height: 125px;
		p {
			font-size: 16px;
			line-height: 35px;
			span {
				font-size: 50px;
			}
		}
	}
}

@media (max-width: 610px) {
	.start-page .container {
	    flex-direction: column;
	}
	.inkblot-column {
	    margin-top: 45px;
        height: 110px;
		flex-wrap: wrap;
	    flex-direction: row;
	    align-items: baseline;
	}
}

@media (max-width: 450px) {
	.start-page {
        height: 755px;
	}

	.start-page .container {
	    padding-top: 130px;
	    flex-direction: column;

	}
	
	.start-page-text {
		h3:nth-child(1){
			font-size: 16px; 
		}
		h3:nth-child(2){
			font-size: 14px;
		}
		h1{
			font-size: 50px;
			line-height: 65px;
		}
		p{
			font-size: 90px;
		}
		h2 {
			font-size: 48px;
			line-height: 65px;
		}
		h3 {
			font-size: 40px;
		}
		h4 {
			font-size: 1rem;
			padding-top: 20px;
		}
	}
	
	.start-page-text form {
		// display: flex;
		// justify-content: center;
	}

	.reg-button {
	    font-size: 17px;
	    padding: 7px 32px;

		box-shadow: 0px 0px 0px 3px rgba(169, 218,  32, 0.5);
	}
	
	.inkblot-column {
	    margin-top: 45px;
        height: 110px;
		flex-wrap: wrap;
	    flex-direction: row;
	    align-items: baseline;
	}

	.inkblot {
		height: 85px;
		p {
			font-size: 16px;
			line-height: 20px;
			span {
			    font-size: 36px;
			}
		}
	}
}


@media (max-width: 370px) {
	.start-page {
        height: 755px;
	}

	.start-page .container {
	    padding-top: 130px;
	    flex-direction: column;

	}
	
	.start-page-text {
		h3:nth-child(1){
			font-size: 16px; 
		}
		h3:nth-child(2){
			font-size: 12px;
		}
		h1{
			font-size: 45px;
			line-height: 65px;
		}
		p{
			font-size: 90px;
		}
		h2 {
			font-size: 48px;
			line-height: 65px;
		}
		h3 {
			font-size: 40px;
		}
		h4 {
			font-size: 1rem;
			padding-top: 20px;
			width: 95%;
		}
	}
}